backend/gradlew
backend/problems
backend/gradle
frontend/node_modules
frontend/pnpm-lock.yaml
backend/gradle.properties
frontend/.env
frontend/.gitignore
backend/.gitignore
backend/**/application.properties
backend/**/application-*.properties