<html layout:decorate="~{global/userLayout}">
<head>
    <title>대기열 상세보기</title>
    <style type="text/css">
    </style>
    <script>
    </script>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <img th:src="@{/notphoto.jpg}" alt="Idol Image">

    <!-- 콘텐츠 영역 -->
    <div class="container mt-4">
        <!-- Dynamically include the template specified by the 'content' model attribute -->
<!--        <div th:replace="~{${content}}"></div>-->
        <div th:text="${content}"></div>
    </div>

</div>
<script th:inline="javascript">
    function logout() {
        document.getElementById('logoutForm').submit();
    }
</script>
</body>
</html>